---
import Main from "../../layouts/main.astro";
---
<Main>
  <div class="sm:flex max-sm:pt-24 gap-8 px-4 lg:px-48 justify-center items-center min-h-screen">
    <div class="">
      <h1 class="text-8xl font-bold text-center max-sm:pb-8 sm:text-right">About</h1>
    </div>
    <div class="max-sm:text-center">
      <p>Hi, I'm Seth. I do lots of video editing and coding, in fact I have a YouTube channel where I do both. I also do a lot of other things, like playing video games, watching movies, and hanging out with friends. I'm a pretty chill guy, and I'm always down to talk about anything.</p>
    </div>
  </div>
</Main>