---
import Main from "../../layouts/main.astro";
---
<Main>
  <div class="flex gap-8 px-48 justify-center items-center min-h-screen">
    <div class="w-1/3">
      <h1 class="text-8xl font-bold text-right">About</h1>
    </div>
    <div class="flex-1">
      <p>Hi, I'm Seth. I do lots of video editing and coding, in fact I have a YouTube channel where I do both. I also do a lot of other things, like playing video games, watching movies, and hanging out with friends. I'm a pretty chill guy, and I'm always down to talk about anything.</p>
    </div>
  </div>
</Main>