---
import Title from "../components/Title.astro";
import "../globals.css";
import ScrollIndicator from "../components/ScrollIndicator.astro";
import Main from "../layouts/main.astro";
---

<Main>
  <div class="place-items-center grid h-screen relative">
    <Title />
    <ScrollIndicator />
  </div>
  <div class="flex justify-center px-[10%] pb-[10%] w-screen">
    <iframe width="1237" height="686" class="cursor-pointer hide-cursor z-50 rounded-lg" src="https://www.youtube.com/embed/oFtIIDcZo80" title="Demo Reel 2022" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</Main>
