---
import Title from "../components/Title.astro";
import Cursor from "../components/Cursor.astro";
import "../globals.css";
import ScrollIndicator from "../components/ScrollIndicator.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Seth Burkart</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"> 
	</head>
	<body class="w-screen h-screen overflow-hidden text-white bg-black">
		<Cursor />
    <div data-scroll-container class="overflow-y-scroll">
      <div class="place-items-center grid h-screen">
        <Title />
				<ScrollIndicator />
      </div>
			<!--ScrollingAbilities /-->
			<div class="h-screen">
			</div>
    </div>
	</body>
</html>

<!--script is:inline src="/splitting/splitting.min.js" /-->
<script is:inline src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js" />
<script is:inline>

	var scroll = new LocomotiveScroll({
		el: document.querySelector('[data-scroll-container]'),
		smooth: true,
		lerp: 0.05,
		smartphone: {
        smooth: true
    }
	});

	scroll.on('scroll', () => {
		const scrollIndicator = document.querySelector('.bounce');
		scrollIndicator.classList.add('hide');
	});

</script>