---
import './Cursor.css';
---

<div>
  <div style="top:-80px; left:-80px;" class='cursor cursor-dot'></div>
  <img class="svg-cursor h-4 w-auto" src="/cursor.svg" />
</div>

<script is:inline>
const cursorDot = document.querySelector('.cursor-dot');

const hideCursor = document.querySelector('.hide-cursor');
const gameContainer = document.querySelector('#gameContainer');
const svgCursor = document.querySelector('.svg-cursor');

document.addEventListener('mousemove', (e) => {
  requestAnimationFrame(updateCursor(e));
});
function updateCursor(e) {
  cursorShadow.setAttribute("style", "top: " + (e.clientY) + "px; left: " + (e.clientX) + "px;")
  cursorDot.setAttribute("style", "top: " + (e.clientY) + "px; left: " + (e.clientX) + "px;")

  if (hideCursor && hideCursor.contains(e.target)) {
    cursorDot.classList.add("cursor-hidden");
  } else {
    cursorDot.classList.remove("cursor-hidden");
  }

  if (gameContainer && gameContainer.contains(e.target)) {
    if (cursorDot.style.display = 'none') {
      return;
    }
    cursorDot.style.display = 'none';
    svgCursor.style.display = 'block';
  } else {
    if (cursorDot.style.display = 'block') {
      return;
    }
    cursorDot.style.display = 'block';
    svgCursor.style.display = 'none';
  }

}
</script>