---
import { Pages } from "../content/products.astro";
import Main from "../layouts/main.astro";
const pages = Pages();
---

<Main>
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 h-screen lg:max-w-7xl lg:px-8 overflow-y-scroll">
    <h1 class="text-4xl font-bold tracking-tight text-white">
      Items
    </h1>
    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      { pages.map((page) =>
        <div class="group z-20 relative py-2 px-4" style={ page.name === 'Hidden' ? "display: none" : "" }>
          <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
            <img src={`${page.image}`} alt="Product image." class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
          </div>
          <a href={`shop/${page.slug}`} class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-300">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {page.name}
              </h3>
            </div>
            <p class="text-sm font-medium text-gray-100">{page.price}</p>
          </a>
        </div>
      ) }
    </div>
  </div>
</Main>