* {
  cursor: none !important;
}

:root {
  font-family: "San Francisco Display";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "San Francisco Display";
  src: url("/fonts/ie.eot"); /* IE9*/
  src: url("/fonts/ie.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/cf.woff2") format("woff2"),
    /* chrome firefox */ url("/fonts/cf.woff") format("woff"),
    /* chrome firefox */ url("/fonts/cf.ttf") format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("/fonts/ios.svg#San Francisco Display") format("svg"); /* iOS 4.1- */
}
